.accordion-button:not(.collapsed) {
   color: #212529;
   background-color: #3adb892b;
   box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button:not(.collapsed):after {
   transform: rotate(-180deg);
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.form-check-input:checked {
   background-color: #238754;
   border-color: #238754;
}

.form-check-input:focus {
   border-color: #238754;
   box-shadow: 0 0 0 0.25rem rgb(35 135 84 / 25%);
}

.carousel-indicators [data-bs-target] {
   background-color: #238754;
}

.img-absolute {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.carousel-control-prev-icon{
   background-image: url(../public/assets/prev.svg);
}

.carousel-control-next-icon {
   background-image: url(../public/assets/next.svg);
}

.sidebar-link.nav-link {
   font-size: 18px;
   color: #939393;
   transition: .2s linear;
}

.sidebar-link.nav-link.active {
   color: white;
   margin-left: 10px;
}

.sidebar-link.nav-link:focus, .nav-link:hover {
   color: white;
}

.btn-close {
   background: transparent url(../public/assets/close_icon.svg);
}

.page-link {
   color: #212529;
}

.page-link:hover,
.page-link:focus {
   color: #212529;
   background-color: #e1e1e1;
}

.page-item.active > .page-link {
   background-color: #212529;
   border-color: #212529;
}

.table>:not(caption)>*>* {
   padding: 0.7rem 0.7rem;
}